
#flex-body{
    display: flex;
    justify-content: center;
}
#flex-main{
    display: flex;
    flex-direction: column;
}
.flex-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-nav{
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
}
.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}